In [1]:
%load_ext sql

In [2]:
# %load sql_queries.py
# DROP TABLES

songplay_table_drop = "drop table songplays"
user_table_drop = "drop table users"
song_table_drop = "drop table songs"
artist_table_drop = "drop table artists"
time_table_drop = "drop table time"

# CREATE TABLES

songplay_table_create = ("""
    create table songplays (
        songplay_id serial not null primary key, 
        start_time timestamp, 
        user_id int references users(user_id), 
        level varchar, 
        song_id int references songs(song_id), 
        artist_id int references artists(artist_id), 
        session_id int, 
        location varchar, 
        user_agent varchar
    )
""")

user_table_create = ("""
    create table users (
        user_id int not null primary key, 
        first_name varchar, 
        last_name varchar, 
        gender varchar, 
        level varchar
    )
""")

song_table_create = ("""
    create table songs (
        song_id int not null primary key, 
        title varchar, 
        artist_id int, 
        year int, 
        duration float
    )
""")

artist_table_create = ("""
    create table artists (
        artist_id int not null primary key, 
        name varchar, 
        location varchar, 
        latitude float, 
        longitude float
    )
""")

time_table_create = ("""
    create table time (
        start_time timestamp not null primary key, 
        hour int, 
        day int, 
        week int, 
        month int, 
        year int, 
        weekday varchar
    )
""")

# INSERT RECORDS

songplay_table_insert = ("""
    insert into songplays (songplay_id, start_time, user_id, level, song_id, artist_id, session_id, location, user_agent)
    values (%d, %s, %d, %s, %d, %d, %d, %s, %s)
""")

user_table_insert = ("""
    insert into users (user_id, first_name, last_name, gender, level)
    values (%d, %s, %s, %s, %s)
""")

song_table_insert = ("""
    insert into songs (song_id, title, artist_id, year, duration)
    values (%d, %s, %d, %d, %f)
""")

artist_table_insert = ("""
    insert into artists (artist_id, name, location, latitude, longitude)
    values (%d, %s, %s, %f, %f)
""")

time_table_insert = ("""
    insert into time (start_time, hour, day, week, month, year, weekday)
    values (%f, %d, %d, %d, %d, %d, %s)
""")

# FIND SONGS

song_select = ("""
    select u.first_name, u.last_name, u.level, s.title, s.duration, a.name, a.location
    from songplays sp inner join users u on sp.user_id = u.user_id
    inner join songs s on sp.song_id = s.song_id
    inner join artists a on sp.artist_id = a.artist_id
""")

# QUERY LISTS

create_table_queries = [songplay_table_create, user_table_create, song_table_create, artist_table_create, time_table_create]
drop_table_queries = [songplay_table_drop, user_table_drop, song_table_drop, artist_table_drop, time_table_drop]

In [4]:
# %load create_tables.py
import psycopg2
from sql_queries import create_table_queries, drop_table_queries


def create_database():
    """
    - Creates and connects to the sparkifydb
    - Returns the connection and cursor to sparkifydb
    """
    
    # connect to default database
    conn = psycopg2.connect("host=127.0.0.1 dbname=studentdb user=student password=student")
    conn.set_session(autocommit=True)
    cur = conn.cursor()
    
    # create sparkify database with UTF8 encoding
    cur.execute("DROP DATABASE IF EXISTS sparkifydb")
    cur.execute("CREATE DATABASE sparkifydb WITH ENCODING 'utf8' TEMPLATE template0")

    # close connection to default database
    conn.close()    
    
    # connect to sparkify database
    conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
    cur = conn.cursor()
    
    return cur, conn


def drop_tables(cur, conn):
    """
    Drops each table using the queries in `drop_table_queries` list.
    """
    for query in drop_table_queries:
        cur.execute(query)
        conn.commit()


def create_tables(cur, conn):
    """
    Creates each table using the queries in `create_table_queries` list. 
    """
    for query in create_table_queries:
        cur.execute(query)
        conn.commit()


def main():
    """
    - Drops (if exists) and Creates the sparkify database. 
    
    - Establishes connection with the sparkify database and gets
    cursor to it.  
    
    - Drops all the tables.  
    
    - Creates all tables needed. 
    
    - Finally, closes the connection. 
    """
    cur, conn = create_database()
    
    drop_tables(cur, conn)
    create_tables(cur, conn)

    conn.close()


if __name__ == "__main__":
    main()

OperationalError: database "sparkifydb" is being accessed by other users
DETAIL:  There is 1 other session using the database.

In [3]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

'Connected: student@sparkifydb'

In [4]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
(psycopg2.ProgrammingError) relation "songplays" does not exist
LINE 1: SELECT * FROM songplays LIMIT 5;
                      ^
 [SQL: 'SELECT * FROM songplays LIMIT 5;']

In [5]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
(psycopg2.ProgrammingError) relation "users" does not exist
LINE 1: SELECT * FROM users LIMIT 5;
                      ^
 [SQL: 'SELECT * FROM users LIMIT 5;']

In [6]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
(psycopg2.ProgrammingError) relation "songs" does not exist
LINE 1: SELECT * FROM songs LIMIT 5;
                      ^
 [SQL: 'SELECT * FROM songs LIMIT 5;']

In [7]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
(psycopg2.ProgrammingError) relation "artists" does not exist
LINE 1: SELECT * FROM artists LIMIT 5;
                      ^
 [SQL: 'SELECT * FROM artists LIMIT 5;']

In [8]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
(psycopg2.ProgrammingError) relation "time" does not exist
LINE 1: SELECT * FROM time LIMIT 5;
                      ^
 [SQL: 'SELECT * FROM time LIMIT 5;']

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).